.navbar,
.navbar-default {
    background-image: linear-gradient(
        to bottom,
        #fcedda 0,
        white 100%
    ) !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}

.snow {
    height: 100vh;
}

.background {
    width: 100%;
    background-image: url('../../img/city1080.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.snow-text {
    text-align: center;
    padding-top: 10vh;
    color: #ee4e34;
}

.snow-text p {
    color: black;
}

.box{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
    transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.posters {
    position: absolute;
    padding-top: 5vh;
    background-image: linear-gradient( white 0%, #fcedda 100%);
    width: 100%;
}

.poster{
    background-image: linear-gradient( white 0%, #fcedda 100%);
}

.poster-likes {
    text-align: right;
}

.card-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.cards {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5vh;
}

.loginForm {
    position: absolute;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.95);
    left: 50%;
    top: 40%;
    width: 30vw;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: black;
}

.footer {
    padding: 1rem;
    background-color: #fcedda;
    width: 100%;
}

.cardImg:hover {
    border: 2px white solid;
}

.date {
    color: rgba(131, 126, 126, 0.933);
    font-size: 15px;
}

.round-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

.comment {
    width: 90%;
    margin: auto
}

.comment-delete {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media only screen and (max-width: 600px) {
    .loginForm {
        position: absolute;
        width: 90vw;
        transform: translate(-50%, -50%);
        padding: 10px;
        margin-top: 15vh;
        color: black;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.8);
    }

    .cards {
        width: 90%;
        padding-top: 5vh;
    }

    .poster-likes {
        text-align: center;
    }

    .round-img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-left: 20px;
    }

    .background {
        background-image: url('../../img/city-harbour.png');
        background-repeat: no-repeat;
        background-attachment: scroll; 
    }

    .snow-text {
        text-align: center;
        padding-top: 3vh;
        color: #ee4e34;
    }
    
    .snow-text p {
        color: #ee4e34;
    }
}
